{% extends 'layout.html' %}

{% block title %}
    Команда
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Распознавание еды</h1>
    <h2>О проекте</h2>
    <p>Данный проект - приложение обрабатывающее bag файлы с робособаки и распознающее на них еду</p>
    <h2>Стек технологий</h2>
    <p>Веб фреймворк fastapi послужил основой нашей backend разработки</p>
    <p>Связующим звеном всех микросервисов выступила kafka</p>
    <p>Для хранения файлов и их дальнейшего стриминга использовалось s3 хранилище</p>
    <p>Для хранения данных использовалась база данных postgresql</p>
    <p>Обработка видео осуществлялась при помощи onen cv</p>
    <p>В качестве реализованной нейросети выступила yolov2</p>
    <h2>Состав команды</h2>
    <p>Тимлид - Днепров Степан</p>
    <p>Старший backend разработчик - Новиков Никита</p>
    <p>Ml engeneer - Артур Бычков</p>
    <p>Ml engeneer - Чернаткин Алексей</p>
    <p>Ничего не делал - Кабанов Антон</p>
</div>
    
{% endblock %}

